figure {
    margin: 0;
}

.gallery {
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
}

.pics-chain  img {    
    border: 2px solid rgb(59, 48, 61);
    padding: 1px;
    margin-right: 1vw;
    cursor: pointer;
}

#active {
   border: 3px solid rgb(204, 0, 255);
}

.enlarged {
    position:fixed;
    top: 2vw;
    right: 3vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;    
}

.enlarged img {
    border: 1vw solid rgb(129, 126, 129);
    height:35vw;
    border-radius: 5%;
    cursor: pointer;   
}

.enlarged.high {
    right: 15vw;
}

.enlarged.wide {
    right: 5vw;
}

.enlarged.wide img {
    height:30vw;
}

.left-icon {    
    padding-top:15vw;
    margin-right: -10vw;
    padding-right: 8vw;
    z-index: 1;   
}

.right-icon {
    padding-top:15vw;  
    margin-left: -10vw;
    padding-left: 8vw;
    z-index: 1; 
}


img#icon{
   height: 3vw;
   border: none;      
}

.caption {    
    text-align: center;
}
.thumbs {
    width: 40%;
}