figure {
    margin: auto;
}

.titles {
    display:flex;
    flex-direction: row; 
}

.title {
    width: 50%;
    text-align: center;    
}
.container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin:auto;
}

.videos-list-left {
    width: 30wv;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

.videos-list-right {
    width: 30wv;
    display: flex;
    flex-direction: column;
    margin-left: 53vw;
}

.video-thumb {
    cursor: pointer;
    border:rgb(129, 126, 129) 2px solid;
    margin: 1vh;
}
.video-thumb img {    
    height: 150px;
    display: block;
    margin: auto;
} 

.video-thumb p {
    text-align: center;
    font-size: small;
}

.enlarged-video {
    width: 50vw;
    position:fixed;
    top: 5vw;
    right: 24.5vw;
}

.enlarged-video p {
    text-align: center;
}

.player-wrapper {
    cursor: pointer; 
    margin: 1vw; 
}

.player {
    width: 40vw;
}

.gallery {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;   
}

.pics-chain {
    display: flex;
    overflow-x: auto;
    height: 110px;
    border:rgb(59, 48, 61) solid 2px 0;
}


.pics-chain  img { 
    border: 2px solid rgb(129, 126, 129);
    padding: 1px;
    margin-right: 0.5vw;
    cursor: pointer;
}

.under-chain {
    display:flex;
    flex-direction: row;
}

.items {
    width: 20vw;
    cursor: pointer;
}

#active {
   border: 3px solid rgb(255, 0, 85);
}

.enlarged {
    width: 60vw;
    margin-top: 1vw;
}

.enlarged img {
    display:block;
    margin: auto;
    border: 5px solid rgb(129, 126, 129);
    height: 30vw;
    border-radius: 5%;
    cursor: pointer;   
}


.left-icon {  
    position:fixed; 
    top: 15vw;
    left: 20vw;
    z-index: 1;   
}

.right-icon {
    position: fixed;
    top: 20vw;
    left:20vw;
    z-index: 1; 
}


img#icon{
   height: 3vw;
   border: none;      
}

.caption {    
    text-align: center;
}
