figure {
    margin: auto;
}

.gallery {
    box-sizing: border-box;
    display:flexbox;
    flex-direction: column;   
}

.pics-chain {
    display: flex;
    overflow-x: auto;
    height: 110px;
    border:rgb(59, 48, 61) solid 2px 0;
}


.pics-chain  img { 
    border: 2px solid rgb(129, 126, 129);
    padding: 1px;
    margin-right: 0.5vw;
    cursor: pointer;
}

.under-chain {
    display:flex;
    flex-direction: row;
}

.items {
    width: 20vw;
    cursor: pointer;
}

#active {
   border: 3px solid rgb(255, 0, 85);
}

.enlarged {
    width: 60vw;
    margin-top: 1vw;
}

.enlarged img {
    display:block;
    margin: auto;
    border: 5px solid rgb(129, 126, 129);
    height: 30vw;
    border-radius: 5%;
    cursor: pointer;   
}


.left-icon {  
    position:fixed; 
    top: 15vw;
    left: 20vw;
    z-index: 1;   
}

.right-icon {
    position: fixed;
    top: 20vw;
    left:20vw;
    z-index: 1; 
}


img#icon{
   height: 3vw;
   border: none;      
}

.caption {    
    text-align: center;
}
